{% extends '::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="page">
    <div class="page-content">
    <h5>CFA INSTA</h5>
    <div class="formulaire">
        <div id="form_wrapper" class="form_wrapper">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="login active">
                <h3>Login</h3>
                <div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username">Utilisateur :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div>
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="_password" required="required" />
                    <div class="bottom">
                        <div class="remember">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <span for="remember_me">{{ 'security.login.remember_me'|trans }}</span>
                        </div>
                        <input type="submit" id="_submit" name="_submit" value="Connexion" />
                        <div class="clear"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock fos_user_content %}