{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:header.html.twig') %}
        {% include ('PlanningUserBundle:Advert:admin_menu.html.twig') %}
        <div class="page-content">
            {#action="traitement.php"#}
            <table id="site" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id Site</th>
                        <th>Libellé</th>
                        <th>Adresse</th>
                        <th>Itinéraire</th>
                    </tr>
                </thead>
 
                <tfoot>
                    <tr>
                        <th>Id Site</th>
                        <th>Libellé</th>
                        <th>Adresse</th>
                        <th>Itinéraire</th>
                    </tr>
                </tfoot>
 
                <tbody>
                    {% for entity in Site %}
                        <tr>
                            <td>{{entity.idsite}}</td>
                            <td>{{entity.libelle}}</td>
                            <td>{{entity.adresse}}</td>
                            <td><a href="https://www.google.fr/maps/dir/17+Rue+Linn%C3%A9,+Paris/3+Rue+des+Trois+Bornes,+75011+Paris/">Itinéraire</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="gestion">
                <div class="creation">
                    {{ form(form) }}
                </div>
                <div class="suppression">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('#site').dataTable();
        
        $('#site tbody').on('click', 'tr', function () {
        var r = confirm("Voulez-vous supprimé ce site ?");
        if (r == true) {
            var tr = $(this).closest('tr');
            var idSite = tr.find("td:eq(0)").text();
            {#var DATA = $('td[id="cell_3"]').html();#}
            //var DATA = $(this).attr('id');
            //var DATA = $(this).parent().attr('id');
            //var DATA = document.getElementsByTagName('tr')[2].innerHTML;
            //alert(idPromotion);
            $.ajax({
            type: "GET",
            url: "{{ path('suppression_site')}}",
            data: 'idsite=' + idSite,
            cache: false,
            timeout: 10000,
            success: function(data) {
              alert(data);},
            error: function() {
              alert('La requête n\'a pas abouti'); }
            });
        } else {
            x = "Ce Site n'a pas été supprimé !";
            alert(x);
        }
    } );
    } );
    </script>
{% endblock %}