{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:header.html.twig') %}
        {% include ('PlanningUserBundle:Advert:admin_menu.html.twig') %}
        <div class="page-content">
            {#action="traitement.php"#}
            <table id="salle" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id Salle</th>
                        <th>Numéro de Salle</th>
                        <th>Nombre de PC</th>
                        <th>Lieu</th>
                    </tr>
                </thead>
                
                <tfoot>
                    <tr>
                        <th>Id Salle</th>
                        <th>Numéro de Salle</th>
                        <th>Nombre de PC</th>
                        <th>Lieu</th>
                    </tr>
                </tfoot>

                <tbody>
                    {% for entity in Salle %}
                        <tr>
                            <td>{{entity.idsalle}}</td>
                            <td>{{entity.numSalle}}</td>
                            <td>{{entity.nbPc}}</td>
                            {% if entity.siteidsite != null %}
                            <td>{{entity.siteidsite.libelle}}</td>
                            {% else %}
                                <td>Null</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="gestion">
                <div class="creation">
                    {{ form(form) }}
                </div>
                <div class="suppression">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('#salle').dataTable();
        
        $('#salle tbody').on('click', 'tr', function () {
        var r = confirm("Voulez-vous supprimé cette salle ?");
            if (r == true) {
            var tr = $(this).closest('tr');
            var idSalle = tr.find("td:eq(0)").text();
            alert(idSalle);
            $.ajax({
            type: "GET",
            url: "{{ path('suppression_salle')}}",
            data: 'idsalle=' + idSalle,
            cache: false,
            timeout: 10000,
            success: function(data) {
              alert(data);},
            error: function() {
              alert('La requête n\'a pas abouti'); }
            });
            } else {
            x = "Cette salle n'a pas été supprimé !";
            alert(x);
        }
        } );
    } );
    </script>
{% endblock %}