{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:header.html.twig') %}
        {% include ('PlanningUserBundle:Advert:admin_menu.html.twig') %}
        <div class="page-content">
            {#action="traitement.php"#}
            {#<div class="content">#}
            <table id="prof" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id Professeur</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Id User</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id Professeur</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Id User</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for entity in Professeur %}
                        <tr>
                            <td>{{entity.idprofesseur}}</td>
                            <td>{{entity.prenom}}</td>
                            <td>{{entity.nom}}</td>
                            <td>{{entity.idprofesseur}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="gestion">
                <div class="creation">
                    {{ form(form) }}
                </div>
                <div class="suppression">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('#prof').dataTable();
        
        $('#prof tbody').on('click', 'tr', function () {
        var r = confirm("Voulez-vous supprimé ce professeur ?");
        if (r == true) {
            var tr = $(this).closest('tr');
            var idProfesseur = tr.find("td:eq(0)").text();
            {#var DATA = $('td[id="cell_3"]').html();#}
            //var DATA = $(this).attr('id');
            //var DATA = $(this).parent().attr('id');
            //var DATA = document.getElementsByTagName('tr')[2].innerHTML;
            //alert(idProfesseur);
            $.ajax({
            type: "GET",
            url: "{{ path('suppression_professeur')}}",
            data: 'idprofesseur=' + idProfesseur,
            cache: false,
            timeout: 10000,
            success: function(data) {
              alert(data);},
            error: function() {
              alert('La requête n\'a pas abouti'); }
            });
        } else {
            x = "Ce professeur n'a pas été supprimé !";
            alert(x);
        }
    } );
    } );
    </script>
{% endblock %}