{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:header.html.twig') %}
        {% include ('PlanningUserBundle:Advert:admin_menu.html.twig') %}
        <div class="page-content">
            {#action="traitement.php"#}
            <table id="cours" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id du Cours</th>
                        <th>Dure/J</th>
                        <th>Date de Début</th>
                        <th>Date de Fin</th>
                        <th>N°Promotion</th>
                        <th>Libellé du Cours</th>
                        <th>Professeur</th>
                    </tr>
                </thead>
                
                <tfoot>
                    <tr>
                        <th>Id du Cours</th>
                        <th>Dure/J</th>
                        <th>Date de Début</th>
                        <th>Date de Fin</th>
                        <th>N°Promotion</th>
                        <th>Libellé du Cours</th>
                        <th>Professeur</th>
                    </tr>
                </tfoot>

                <tbody>
                    {% for entity in Cours %}
                        <tr>
                            <td>{{entity.idcours}}</td>
                            <td>{{entity.dure}}</td>
                            <td>{{entity.dateDebut|date("d-m-Y")}}</td>
                            <td>{{entity.dateFin|date("d-m-Y")}}</td>
                            <td>{{entity.promotionidpromotion.numPromotion}}</td>
                            <td>{{entity.matiereidmatiere.libelle}}</td>
                            <td>{{entity.professeuridprofesseur.nom}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="gestion">
                <div class="creation">
                    {{ form(form) }}
                </div>
                <div class="suppression">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('#cours').dataTable();
        
        $('#cours tbody').on('click', 'tr', function () {
        var r = confirm("Voulez-vous supprimé ce cours ?");
        if (r == true) {
            var tr = $(this).closest('tr');
            var idCours = tr.find("td:eq(0)").text();
            {#var DATA = $('td[id="cell_3"]').html();#}
            //var DATA = $(this).attr('id');
            //var DATA = $(this).parent().attr('id');
            //var DATA = document.getElementsByTagName('tr')[2].innerHTML;
            alert(idCours);
            $.ajax({
            type: "GET",
            url: "{{ path('suppression_cours')}}",
            data: 'idcours=' + idCours,
            cache: false,
            timeout: 10000,
            success: function(data) {
              alert(data);},
            error: function() {
              alert('La requête n\'a pas abouti'); }
            });
        } else {
            x = "Ce cours n'a pas été supprimé !";
            alert(x);
        }
    } );
    } );
    </script>
{% endblock %}