{% extends '::base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:header.html.twig') %}
        {% include ('PlanningUserBundle:Advert:admin_menu.html.twig') %}
        <div class="page-content">
            {#action="traitement.php"#}
            {#<table id="cours" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id du Cours</th>
                        <th>Dure/J</th>
                        <th>Date de Début</th>
                        <th>Date de Fin</th>
                    </tr>
                </thead>
                
                <tfoot>
                    <tr>
                        <th>Id du Cours</th>
                        <th>Dure/J</th>
                        <th>Date de Début</th>
                        <th>Date de Fin</th>
                    </tr>
                </tfoot>

                <tbody>
                    {% for entity in Cours %}
                        <tr>
                            <td>{{entity.numSalle}}</td>
                            <td>{{entity.nbPc}}</td>
                            {% if entity.siteidsite != null %}
                            <td>{{entity.siteidsite.libelle}}</td>
                            {% else %}
                                <td>Null</td>
                            {% endif %}
                            {% if entity.coursidcours != null %}
                            <td>{{entity.coursidcours.idcours}}</td>
                            {% else %}
                                <td>Null</td>
                            {% endif %}
                            <td>{{entity.useriduser.id}}</td>
                            <td>{{entity.promotionidpromotion.numPromotion}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>#}
            <div class="gestion">
                <div class="creation">
                    {{ form(form) }}
                </div>
                <div class="suppression">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#{% block javascripts %}
    <script>
    $(document).ready(function() {
    $('#cours').dataTable();
    } );
    </script>
{% endblock %}#}