{# empty Twig template #}
{% extends '::base_accueil.html.twig' %}
{% block body %}
            <div class="header_logo"></div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="{{ path('home') }}">
                                Accueil
                            </a>
                        </li>
                        {#<li>
                            <a href="{{ path('planning') }}">
                                Planning
                            </a>
                        </li>
                        <li>
                            <a href="/Notes">
                                Notes
                            </a>
                        </li>#}
                        <li>
                            {#<a href="{{ path('fos_user_security_login') }}">
                                Déconnection
                            </a>#}
                                
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                <a href="{{ path('fos_user_security_login') }}">
                    Se Déconnecter
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_logout') }}">Se Connecter{#{{ 'layout.login'|trans({}, 'FOSUserBundle') }}#}</a>
            {% endif %}
                        </li>
                    </ul>
                </div>
{% endblock %}
