{% extends '::base_planning.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:menu.html.twig') %}

        <table>
                <tr>
                    <th>Nom du professeur</th>
                    <th>Matiere</th>
                    <th>Duré du cours/jour</th>
                    <th>Début des cours</th>
                    <th>Fin des cours</th>
                </tr>
                {% for entity in Cours %}
                    <td>{{entity.professeurprofesseur.nom}}</td>
                    <td>{{entity.matierematiere.libelle}}</td>
                    <td>{{entity.dure}} h</td>
                    <td>{{entity.dateDebut|date("Y-m-d")}}</td>
                    <td>{{entity.dateFin|date("Y-m-d")}}</td>
                        
                {% endfor %}
                <tr>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                </tr>
                {% for entity in Cours %}
                    <tr>
                        <td>{{entity.matierematiere.libelle}}</td>
                        <td>{{entity.matierematiere.libelle}}</td>
                        <td>{{entity.matierematiere.libelle}}</td>
                        <td>{{entity.matierematiere.libelle}}</td>
                        <td>{{entity.matierematiere.libelle}}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}
