{# empty Twig template #}
{% extends '::base_planning.html.twig' %}
{% block body %}
    <div class="page">
        {% include ('PlanningUserBundle:Advert:menu.html.twig') %}
        <div class="page-content">
            <table>
                <tr>
                    <th>Janvier</th>
                    <th>Fevrier</th>
                    <th>Mars</th>
                    <th>Avril</th>
                    <th>Mai</th>
                    <th>Juin</th>
                    <th>Juillet</th>
                    <th>Aout</th>
                    <th>Septembre</th>
                    <th>Octobre</th>
                    <th>Novembre</th>
                    <th>Decembre</th>
                </tr>
                {% for ligne in 1..31 %}
                    <tr>
                        <td>{{jourjanvier+ligne}}</td>
                        {% if ligne <= 28 %}
                            <td>{{jourfevrier+ligne}}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        <td>{{jourmars+ligne}}</td>
                        {% if ligne <= 30 %}
                            <td>{{jouravril+ligne}}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        <td>{{jourmai+ligne}}</td>
                        {% if ligne <= 30 %}
                            <td>{{jourjuin+ligne}}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        <td>{{jourjuillet+ligne}}</td>
                        <td>{{jouraout+ligne}}</td>
                        {% if ligne <= 30 %}
                            <td>{{jourseptembre+ligne}}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        <td>{{jouroctobre+ligne}}</td>
                        {% if ligne <= 30 %}
                            <td>{{journovembre+ligne}}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        <td>{{jourdecembre+ligne}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
